@use 'sass:map';

$colors: () !default;

@mixin classes {
  @each $name, $value in $colors {
    .color-#{$name} {
      color: $value !important;
    }
    .background-color-#{$name} {
      background-color: $value !important;
    }
  }
}

@mixin rules {
  @at-root html {
    @each $color, $value in $colors {
      --color-#{$color}: #{$value};
    }
  }
}

@function color($color) {
  @return map.get($colors, $color);
}

@mixin styles {
  @include classes;
  @include rules;
}
