@use 'sass:selector';
@use 'device';

@mixin hover-or-expanded {
  @include device.hoverable {
    &:hover {
      @content;
    }
  }

  @include device.not-hoverable {
    &.expanded {
      @content;
    }
  }
}

/*
 * Various utility classes.
 */
@mixin classes {
  @at-root 
  body.no-scroll, body.noscroll, /* deprectated */
  body:is(.no-scroll, .noscroll) /* Safari 14+ */
  {
    overflow: hidden !important;
  }

  .hide-for-first-paint {
    display: none;
  }
  
  .hide {
    display: none !important;
  }
  
  .invisible {
    visibility: hidden;
  }

  .contents {
    display: contents;
  }
}
