$-box-sizing: border-box;
$-scroll-behavior: smooth;


//region Mixins
@mixin button {
  appearance: none;
  border: none;
  padding: 0;
  background: none;
  font: {
    family: unset;
    size: unset;
  }
  color: unset;

  &:not([disabled]) {
    cursor: pointer;
  }
}

@mixin list() {
  list-style: none;
  padding: 0;
}

@mixin form-fieldset {
  padding: 0;
  border: none;
}
@mixin form-control {
  appearance: none;
  font: {
    size: unset;
    family: unset;
  }
  line-height: unset;
  color: unset;
  background-color: unset;
  outline: none;
  border: none;
  border-radius: 0;
  min-width: 0;
}
//endregion Mixins


//region Classes
@mixin classes {
  @at-root {
    button.no-style {
      @include button;
    }
    ul.no-style, ol.no-style {
      @include list;
    }
    input.no-style, select.no-style {
      @include form-control;
    }
    fieldset.no-style {
      @include form-fieldset;
    }
  }
}
//endregion Classes


//region Rules
@mixin -typography {
  @at-root html {
    a:any-link {
      text-decoration: none;
      color: inherit;
    }

    picture {
      line-height: 0;
      font-size: 0;
    }
  }
}
@mixin rules() {
  // Required to get a higher specificity than UA stylesheets.
  // Authors can override using `:root`.
  @at-root html {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

    &, *, *::before, *::after {
      margin: 0;
      box-sizing: $-box-sizing;
      //scroll-behavior: $-scroll-behavior;
    }

    figure {
      margin: 0;
      padding: 0;
    }

    video:focus-within {
      outline: none;
    }

  }

  @include -typography;
}
//endregion Rules
