$box-sizing: border-box !default;
$scroll-behavior: smooth !default;

@mixin -font-unset {
  font: {
    family: unset;
    size: unset;
    weight: unset;
  }
}

//region Mixins
@mixin button {
  @include -font-unset;

  appearance: none;
  border: none;
  padding: 0;
  background: none;
  color: unset;
  text-transform: unset;

  &:not([disabled]):hover {
    cursor: pointer;
  }
}

@mixin list() {
  list-style: none;
  padding: 0;
}

@mixin form-fieldset {
  padding: 0;
  border: none;
}
@mixin form-control($keep-number-spinner: false) {
  @include -font-unset;

  appearance: none;
  line-height: unset;
  color: unset;
  background-color: unset;
  outline: none;
  border: none;
  border-radius: 0;
  min-width: 0;

  @if not $keep-number-spinner {
    &[type=number] {
      -moz-appearance: textfield;

      &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
//endregion Mixins


//region Classes
@mixin classes {
  @at-root {
    button:is(.no-style, .unstyle) {
      @include button;
    }
    :is(ul, ol):is(.no-style, .unstyle) {
      @include list;
    }
    :is(input, select):is(.no-style, .unstyle) {
      @include form-control;
    }
    fieldset:is(.no-style, .unstyle) {
      @include form-fieldset;
    }
  }
}
//endregion Classes


//region Rules
@mixin -typography {
  @at-root html {
    a:any-link {
      text-decoration: none;
      color: inherit;
    }

    picture {
      line-height: 0;
      font-size: 0;
    }
  }
}
@mixin rules() {
  // Required to get a higher specificity than UA stylesheets.
  // Authors can override using `:root`.
  @at-root html {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

    &, *, *::before, *::after {
      margin: 0;
      box-sizing: $box-sizing;
      scroll-behavior: $scroll-behavior;
    }

    figure {
      margin: 0;
      padding: 0;
    }

    video:focus-within {
      outline: none;
    }

  }

  @include -typography;
}
//endregion Rules

@mixin styles {
  @include classes;
  @include rules;
}
